{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
{% endblock %}

{% block content %}
<div class='container '>
    {%  include "forum/header.html" %}
    <h3 class="pb-4 mb-4 border-bottom" align="center">
        {{tag}}
    </h3>
    <div class='container-fluid'>
        <div class='row'>
            {% for question in questions %}
            <div class="no-gutters border rounded m-1 mb-4 shadow-sm col-md-5 col-sm-5">
                <div class="col p-4 d-flex flex-column position-static">
                    <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
                    <h3 class="mb-1">{{ question.title }}</h3>
                    <time class="post__header-time">{{question.creation_date|date:"d/m/Y H:i"}}</time> 
                    <p class="card-text mb-auto">{{ question.description }}</p>
                    <a href="../../post/{{question.id}}" class="stretched-link">Continuar Lendo</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


<!-- <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
</nav> -->

</div>
  
</div>

</div>



{% block js %}
{% endblock %}

{% endblock %}