{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
{% endblock %}

{% block content %}
<div class='container'>
    
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-8 blog-main mt-5">
            <h3 class="pb-4 mb-4 border-bottom">
                Todas as Perguntas
            </h3>

            {% for post in posts %}
            <div class="row mb-2">
                <div class="col-md-12">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
                            <h3 class="mb-0">{{ post.title }}</h3>
                            <div class="mb-1 text-muted">{{ post.creation_date }}</div>
                            <p class="card-text mb-auto">{{ post.description }}</p>
                            <a href="{% url 'posts:post' %}" class="stretched-link">Continuar Lendo</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="row mb-2">
                <div class="col-md-12">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0">Post title</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                lead-in to additional content.</p>
                            <a href="{% url 'posts:post' %}" class="stretched-link">Continuar Lendo</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Design</strong>
                            <h3 class="mb-0">Post title</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="{% url 'posts:post' %}" class="stretched-link">Continuar Lendo</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div> -->

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>

        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar mt-5">
                <div class="widget">
                        <header class="widget__header mt-1 pb-3">
                            <h4>Tags</h4>
                        </header>
                        <div class="widget__tags">
                            <a class="tag">PHP</a>
                            <a class="tag">Development</a>
                            <a class="tag">C++</a>
                            <a class="tag">C#</a>
                            <a class="tag">Javascript</a>
                            <a class="tag">Google</a>
                            <a class="tag">Software</a>
                            <a class="tag">HTML</a>
                            <a class="tag">CSS</a>
                            <a class="tag">Nostradamus</a>
                            <a class="tag">Printer</a>
                            <a class="tag">Facebook</a>
                            <a class="tag">Tesla</a>
                        </div>
                    </div>
          
                <div class="p-4">
                  <h4>Archives</h4>
                  <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                  </ol>
                </div>
          
               
              </aside><!-- /.blog-sidebar -->
    </div>
</div>

{% block js %}
{% endblock %}

{% endblock %}