{% extends "forum/base.html" %}
{% load static from staticfiles %} <!-- to use static files -->

{% block css %} 
   
{% endblock %}

{% block content %}
<div class="container">
    
    {%  include "forum/header.html" %}

    <div class="row">
        <div class="col-md-12 text-center mb-3">
            <h2>Fórum Q&A</h2>
            <h3>Trabalho de Engenharia de Software - 2019/1 - Simulação de XP</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Integrantes do grupo</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group list-unstyled text-center">
                <li class="list-group-item list-group-item-action">Breno Martins</li>
                <li class="list-group-item list-group-item-action">Deiziane Silva</li>
                <li class="list-group-item list-group-item-action">Gabriel Oliveira</li>
                <li class="list-group-item list-group-item-action">Pedro Maciel</li>
                <li class="list-group-item list-group-item-action">Renato Lopes</li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
