<!-- Template Base -->
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Fórum QA </title>
    {% endif %}
    <link href="{% static 'forum/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome -->
    <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
    <link href="{% static 'forum/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'forum/css/flexslider.css' %}" type="text/css" media="screen" property="" />
    <!-- stylesheet -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link
        href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--//fonts-->
    <script type="text/javascript" src="{% static 'forum/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'forum/js/main.js' %}"></script>
    {% block css %} {% endblock %}

    <!-- Required-js -->
    <!-- main slider-banner -->
    <link href="{% static 'forum/css/skdslider.css' %}" rel="stylesheet">
    
    <!-- //main slider-banner -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'forum/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'forum/js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    {%  include "forum/header.html" %}

    {% block content %} {% endblock %}

    {%  include "forum/footer.html" %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'forum/js/bootstrap.js' %}"></script>
    {% block js %} {% endblock %}
</body>

</html>