{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->
    <!-- footer -->
	<div class="footer-agile-info">
            <div class="container">
                <div class="col-md-4 w3layouts-footer">
                    <h3>Contact Information</h3>
                        <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>22 Russell Street, Victoria ,Melbourne AUSTRALIA </p>
                        <p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">E: info [at] domain.com</a> </p>
                        <p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>P: +254 2564584 / +542 8245658 </p>
                        <p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#">W: www.w3layouts.com</a></p>
                </div>
                <div class="col-md-4 wthree-footer">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute .</p>
                </div>
                <div class="col-md-4 w3-agile">
                    <h3>Newsletter</h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->
        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="agileinfo">
                    <p>© 2019 Fórum Q&A . Design by <a href="http://w3layouts.com/">W3layouts</a>. Modified by <a href="{% url 'forum:about' %}">Us </a></p>
                </div>
            </div>
        </div>
    <!-- //copyright -->
    <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                    };
                */
                                    
                $().UItoTop({ easingType: 'easeOutQuart' });
                                    
                });
        </script>
    <!-- //here ends scrolling icon -->