{% load static %} <!-- Carrega arquivos estáticos (css, imagens, js) -->
<!-- header -->
<header>
  <div class="w3layouts-top-strip">
    <div class="container">
      <div class="logo">
        <h1><a href="{% url 'forum:index' %}">Fórum Q&A</a></h1>
        <p>Engenharia de Software</p>
      </div>
      <div class="w3ls-social-icons w3l_tags">
          <a href="{% url 'posts:create_post' %}" class="pull-left agileits w3layouts">Faça uma pergunta</a>
          <ul class="tag pull-right">
        {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}" class="btn btn-default pull-right"> {{ user.username }}</a>
        <a class="btn btn-default pull-right" href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        
       <li><a class="pull-right" href="{% url 'users:login' %}">Entrar</a></li>
       <li><a class="pull-right" href="{% url 'users:register' %}">Registrar-se</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="active" href="{% url 'forum:index' %}">Início</a></li>
          <li><a href="{% url 'forum:all_posts' %}">Perguntas</a></li>
          <li><a href="{% url 'forum:all_tags' %}">Tags</a></li>
          <li><a href="{% url 'forum:users' %}">Usuários</a></li>
          <li><a href="{% url 'forum:about' %}">Sobre</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <div class="w3_agile_login">
            <div class="cd-main-header">
              <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
              <!-- cd-header-buttons -->
            </div>
            <div id="cd-search" class="cd-search">
              <form action="#" method="post">
                <input name="Search" type="search" placeholder="Pesquisar...">
              </form>
            </div>
          </div>
          <div class="clearfix"> </div>

      </div><!-- /.container-fluid -->
    </nav>
    
  <!-- //navigation -->
</header>
<!-- //header -->

