{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
{% endblock %}

{% block content %}
<div class='container'>

    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-12 blog-main mt-5">
            <h3 class="pb-4 mb-4 border-bottom page-title">
                Todas as Perguntas
            </h3>

            <div class="row mb-2">
                <div class="col-md-12">
                   
                        {% for post in posts %}
                        <div class="card shadow-sm mb-3">
                            <div class="card-header">
                                <span class="badge badge-info">{% for tag in post.tags %} {{tag.name}} {% endfor %}</span>
                                <div class="mb-1 text-muted float-right d-inline-block question-title">{{ post.creation_date|date:"d/m/Y H:i" }}</div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title question-title">{{ post.title }}</h5>
                              <p class="card-text">{{ post.description }}</p>
                              <a href="{% url 'posts:post' post.id %}" class="d-block text-decoration-none mt-2">Continuar
                                Lendo <i class="fa fa-arrow-right"></i></a>
                            </div>
                               
                          </div>

                        {% endfor %}
                    
                </div>
            </div>

        </div>
    </div>
</div>

{% block js %}
{% endblock %}

{% endblock %}