{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
{% endblock %}

{% block content %}

<div class="container">
  {%  include "forum/header.html" %}
  <div class="row">
    <div class="col-md-12 blog-main mt-5">
      <h3 class="pb-4 mb-4 border-bottom page-title">
        Tags
      </h3>

      <div class="row mb-2">
        <div class="col-md-12">

          {%for tag in tags%}
          <div class="event">
            
            <span>#0{{tag.id}}</span>
            <div class="info">
                <a href="../tag/{{tag.id}}" class="text-monospace text-decoration-none text-muted">{{tag.name}}</a>
            </div>
            
          </div>

          {% endfor %}

        </div>
      </div>

    </div>
  </div>
</div>

{% block js %}
{% endblock %}

{% endblock %}