{% extends "forum/base.html" %}
{% load static from staticfiles %} <!-- to use static files -->

{% block css %} 
   
{% endblock %}

{% block content %}
<div class="container">

    {%  include "forum/header.html" %}

    <div class="row">
        <div class="col-md-12 blog-main mt-5">
          <h3 class="pb-4 mb-4 border-bottom page-title">
            Usuários 
          </h3>
          
          <div class="d-flex flex-wrap">
          {% for user in users %}
              <div class="profile ml-4">
                <div class="profile__picture"> <img src="{% static 'users/img/default.png' %}" alt="..."></div>
                <div class="profile__header">
                  <div class="profile__account">
                    <h4 class="profile__username">
                      <a href="{% url 'users:view_profile' username=user.username %}" class="text-decoration-none">{{ user.username }}</a>
                    </h4>
                  </div>
                  <!-- <div class="profile__edit"><a class="profile__button" href="#">Edit Profile</a></div> -->
                </div>
                <div class="profile__stats">
                  
                  <div class="profile__stat">
                      <div class="profile__value">{{ user.first_name }} {{ user.last_name }}
                        <div class="profile__key">{{ user.description }}</div>
                      </div>
                    </div>
                </div>
              </div>
          {% endfor %}
        </div>
        </div>
        </div>
  <footer class="blog-footer">
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</div>
{% endblock content %}