.shadow {
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0),
    0px -9px 0px 0px rgba(255, 255, 255, 0),
    10px 0px 30px 0px rgba(0, 0, 0, 0.15),
    -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

#tag-wrapper {
  width: 100%;
}

.tags-input {
  list-style: none;
  display: inline-block;
  border-radius: 2px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.tags-input li {
  float: left;
}

.tags-new {
  width: 100%;
}

.tags {
  background: #47cf73;
  padding: 5px 20px 5px 8px;
  border-radius: 2px;
  margin-right: 5px;
  position: relative;
}

.tags i {
  position: absolute;
  right: 6px;
  top: 3px;
  width: 8px;
  height: 8px;
  content: "";
  cursor: pointer;
  opacity: 0.7;
  font-size: 12px;
}

.tags i:hover {
  opacity: 1;
}

.tags-new input[type="text"] {
  margin: 0;
  padding: 0 0 0 3px;
  font-size: 14px;
  margin-top: 5px;
  background: transparent;
}

.tags-new input[type="text"]:focus {
  outline: none;
}


/* post page */
main.container {
    max-width: 1040px;
    margin: auto;
    padding: 10px 0 40px;
  }
  
  .mdm-top-bar {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
  
  .mdm-title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  
  .post {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    padding: 0.625rem 1.25rem;
  }

  .post__header-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
  }
  .post__header-profile-name {
    display: block;
    line-height: 1.12;
  }
  .post__header-time {
    font-size: 0.8rem;
  }
  .post__header-title {
    font-weight: bold;
    line-height: 1.12;
    letter-spacing: -0.022em;
  }
  .post__content p {
    font-size: 1rem;
    line-height: 1.5;
  }
 
  .sidebar {
    margin: 40px 0;
  }
  
  .widget {
    margin-bottom: 40px;
  }

  .widget__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0470588);
  }
  .widget__header-link {
    color: rgba(0, 0, 0, 0.6);
  }
  .widget__header-link:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  .widget__tags {
    font-size: 0.8125rem;
  }
  .widget__tags .tag {
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.2rem;
  }
  .widget__tags .tag:hover {
    background: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
  }
  

   /* answers textarea */

  .answer-form {
    background: #ffffff;
    height: auto;
    margin: 100px auto;
    overflow: hidden;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
    -webkit-box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
    box-shadow: rgba(26, 26, 26, 0.1) 0 1px 3px 0;
  }
  .answer-form .message {
    position: relative;
  }
  .answer-form .message input:focus, .answer-form .message textarea:focus{
    background: #f4f5f6;
  }
  .answer-form .message label {
    color: #cbd0d3;
    left: 23px;
    position: absolute;
    top: 23px;
    -moz-transition: all, 150ms;
    -o-transition: all, 150ms;
    -webkit-transition: all, 150ms;
    transition: all, 150ms;
  }
  .answer-form .email.typing label, .answer-form .message.typing label, .answer-form .name.typing label {
    color: #3498db;
    font-size: 10px;
    top: 7px;
  }
  .answer-form .email, .answer-form .name {
    width: calc(50% - 1px);
  }

  .answer-form .message {
    border-bottom: 1px #e6e6e6 solid;
    border-top: 1px #e6e6e6 solid;
    clear: both;
  }
  .answer-form .message textarea {
    height: 200px;
    padding: 23px;
  }
  
  .answer-form .submit {
    background: #f4f5f6;
    display: block;
    overflow: hidden;
    padding: 23px;
  }
  .answer-form .submit .button {
    background: #3498db;
    border: 1px #3498db solid;
    color: #ffffff;
    float: right;
    padding: 9px 0;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  .answer-form .submit  .delete{
    background: #dc3545;
    border: 1px #dc3545 solid;
    color: #ffffff;
    float: right;
    padding: 9px 0;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  .answer-form .submit  .cancel{
    background: #ffffff;
    border: 1px #6c757d solid;
    color: #6c757d;
    float: right;
    padding: 9px 0;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  
  