<div class="team">
    <!-- mail -->
        <div class="agileits_heading_section">
            <h3 class="wthree_head">
                Editar Perfil
            </h3>
            <p class="agileinfo_para">Dados Pessoais</p>
        </div>
        <div class="w3ls_portfolio_grids w3_agile_mail_grids">
            <form action="{% url 'users:edit_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12 w3_agile_mail_grid">
                    <span class="input input--ichiro">
                        <label for="id_photo">
							Foto
						</label>
                        <input type="file" id="id_photo" class="form-control" name="photo">
                    </span>
                    <span class="input input--ichiro">
                        <label for="id_first-name">
							Nome
						</label>
                        <input type="text" id="id_first-name" class="form-control" name="first_name" placeholder="{{first_name}}"
                            value="{{first_name}}" aria-label="First Name" aria-describedby="basic-addon1" required>

                    </span>
                    <span class="input input--ichiro">
                        <label for="id_last-name">
                            Sobrenome
                        </label>
                        <input type="text" id="id_last-name" class="form-control " name="last_name" placeholder="{{last_name}}"
                            value="{{last_name}}" aria-label="Last Name" aria-describedby="basic-addon1" required>
                    </span>
                    <span class="input input--ichiro">
                        <label for="id_email">
                            E-mail
                        </label>
                        <input type="text" id="id_email" class="form-control " name="email" placeholder="{{email}}" value="{{email}}"
                            aria-label="E-mail" aria-describedby="basic-addon3" required>

                    </span>
                    <span class="input input--ichiro">
                        <label for="id_description">
                            Descrição
                        </label>
                        <textarea id="id_description" class="form-control " name="description" placeholder="{{description}}" aria-describedby="basic-addon3"></textarea>
                    </span>
                    <span class="input input--ichiro">
                        <label for="id_password">
                            Alterar Senha
                        </label>
                        <input class="prepend-fx form-control" type="password" id='id_password' name="password"
                            value="{{password}}" placeholder="Digite a nova senha" aria-label="Senha"
                            aria-describedby="basic-addon2">

                    </span>
                    <input type="submit" value="Enviar">
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>

    <!-- //mail -->
</div>