{% extends "forum/base.html" %}
{% load static %} <!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %} 
    <link href="{% static 'users/css/users.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'forum:index' %}">Início</a></li>
				<li class="active">Login</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->

	<!-- contact -->
	<div class="container">
		<!-- mail -->
	<div class="banner-bottom">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Faça Login</h3>
				<p class="agileinfo_para">Nam tempus lobortis sem non ornare in aliquet egestas, nisi mi vestibulum.</p>
			</div>
			<div class="w3ls_portfolio_grids w3_agile_mail_grids">
                {% if user.is_authenticated %}
                    <h6 class="card-subtitle mb-2 text-muted">Você está logado como {{ user.username }}.</h6>
                    <a class="btn btn-outline-danger btn-block mb-3" href="{% url 'users:logout' %}">LOGOUT</a>
                {% endif %}
				<form action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
					<div class="col-md-6 w3_agile_mail_grid center-login">
						<span class="input input--ichiro">
							<!-- <input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="" /> -->
                            <label for="id_username">
								Nome de Usuário
							</label>
                            {{ form.username }}
						</span>
						<span class="input input--ichiro">
							<!-- <input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="" /> -->
                            <label for="id_password">
                                Senha
							</label>
                            {{ form.password }}
                            
						</span>
						<input type="submit" value="Login">
					</div>
					<div class="clearfix"> </div>
                </form>
                <p class="text-center">
                        <small class="text-muted">Não tem uma conta?</small>
                        <small><a href="{% url 'users:register' %}">Cadastre-se</a></small>
                    </p>
			</div>
		
	</div>
<!-- //mail -->

	</div>
	<!-- //contact -->
{% endblock  %}