{% extends "forum/base.html" %}
{% load static %} <!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %} 
    <link href="{% static 'users/css/users.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 animated fadeIn mr-1 ml-1  text-center">
                <img src="{% static 'forum/img/logo_md.png' %}" class="card-img-top"
                    alt="logo">
                <div class="card-body">
                        {% if user.is_authenticated %}
                            <h6 class="card-subtitle mb-2 text-muted">You are logged in as {{ user.username }}.</h6>
                            <a class="btn btn-outline-danger btn-block mb-3" href="{% url 'users:logout' %}">LOGOUT</a>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">You aren't logged in.</h6> 
                        {% endif %}
                    <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}
                        <table class="login-table w-100">
                            <tr>
                                <td class="w-100">{{ form.username.label_tag }}</td>
                                <td class="w-100">{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>


                        <div class="form-group mt-4">
                            <button type="submit" id="submit" class="btn btn-dark form-control mb-4">
                                <span class="font-weight-bold">
                                    LOGIN
                                </span>
                            </button>

                        </div>
                        <!-- <a href="{% url 'users:password_reset' %}" class="text-muted mb-3 card-link"><strong>Esqueceu
                                a senha?</strong></a> -->
                    </form>
                </div>
            </div>
            <p class="text-center">
                <small class="text-muted">Não tem uma conta?</small>
                <small><a href="{% url 'users:register' %}">Cadastre-se</a></small>
            </p>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock content %}