{% extends "forum/base.html" %}
{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 animated fadeIn mr-1 ml-1">
                <div class="card-body">
                    <h5 class="card-title">Recuperar Conta</h5>
                    <p class="card-text">Escolha uma nova senha para sua conta.</p>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon2"><i
                                            class="fa fa-key"></i></span>
                                </div>
                                <input class="prepend-fx form-control" type="password" id='new_password' name="new_password"
                                    placeholder="Nova Senha" aria-label="Nova Senha" aria-describedby="basic-addon2" required>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon4"><i
                                            class="fa fa-key"></i></span>
                                </div>
                                <input class="prepend-fx form-control" type="password" id='new_password2' name="new_password2"
                                    placeholder="Confirmar Senha" aria-label="Confirmar Senha"
                                    aria-describedby="basic-addon4" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" id="submit" class="btn btn-dark form-control mb-4">
                                <span class="font-weight-bold">
                                    RECUPERAR CONTA
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock content %}