{% extends "forum/base.html" %}
{% load static %} <!-- Carrega arquivos estáticos (css, imagens, js) -->
{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 animated fadeIn mr-1 ml-1  text-center">
                <img src="{% static 'forum/img/logo_md.png' %}" class="card-img-top"
                    alt="logo">
                <div class="card-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon1"><i
                                            class="fa fa-user-circle"></i></span>
                                </div>
                                <input type="text" class="form-control " name="username" placeholder="Username"
                                    aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon2"><i
                                            class="fa fa-key"></i></span>
                                </div>
                                <input class="prepend-fx form-control" type="password" id='password' name="password"
                                    placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon2" required>
                            </div>
                        </div>


                        <div class="form-group mt-4">
                            <button type="submit" id="submit" class="btn btn-dark form-control mb-4">
                                <span class="font-weight-bold">
                                    LOGIN
                                </span>
                            </button>

                        </div>
                        <a href="{% url 'password_reset' %}" class="text-muted mb-3 card-link"><strong>Esqueceu
                                a senha?</strong></a>
                    </form>
                </div>
            </div>
            <p class="text-center">
                <small class="text-muted">Não tem uma conta?</small>
                <small><a href="{% url 'register' %}">Cadastre-se</a></small>
            </p>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock content %}