{% extends "forum/base.html" %}
{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card border-success mt-5 animated fadeIn mr-1 ml-1 text-center" style="min-width: 40em">
                <div class="card-header">Sucesso!</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Sua senha foi alterada com sucesso.</h5>
                    <hr class="my-4">
                    <p class="card-text mt-5">Agora você pode fazer o login e utilizar o site.</p>
                    <a class="btn btn-success form-control" href="{% url 'login' %}" role="button">Entrar</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}