{% extends "forum/base.html" %}
{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="card  border-primary mt-5 animated fadeIn mr-1 ml-1 text-center" style="min-width: 40em">
                <div class="card-header">E-mail enviado!</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Um link foi enviado para o seu e-mail.</h5>
                    <hr class="my-4">
                    <p class="card-text mt-3 mb-2">Se você não vir esse e-mail na sua caixa de entrada em 15 minutos, procure-o na sua pasta de lixo eletrônico. 
                            <br/>Se você encontrá-lo lá, por favor, marque como "Não é Lixo".</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
