{% extends "forum/base.html" %}
{% load static %} <!-- Carrega arquivos estáticos (css, imagens, js) -->
{% block content %}
<div class='container'>
    {%  include "forum/header.html" %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5 animated fadeIn mr-1 ml-1">
                <img src="{% static 'forum/img/logo_md.png' %}" class="card-img-top"
                    alt="logo">
                <div class="card-body">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {% if confirm_message %}<p><strong>{{ confirm_message }}</strong></p>{% endif %}
                    <form action="{% url 'users:register' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon1"><i
                                            class="fa fa-user-circle"></i></span>
                                </div>
                                <input type="text" class="form-control " name="username" placeholder="Username"
                                    aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon1"><i
                                            class="fa fa-user-circle"></i></span>
                                </div>
                                <input type="text" class="form-control " name="first_name" placeholder="First Name"
                                    aria-label="First Name" aria-describedby="basic-addon1" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon1"><i
                                            class="fa fa-user-circle"></i></span>
                                </div>
                                <input type="text" class="form-control " name="last_name" placeholder="Last Name"
                                    aria-label="Last Name" aria-describedby="basic-addon1" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon3"><i
                                            class="fa fa-at"></i></span>
                                </div>
                                <input type="text" class="form-control " name="email" placeholder="E-mail"
                                    aria-label="E-mail" aria-describedby="basic-addon3" required>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon2"><i
                                            class="fa fa-key"></i></span>
                                </div>
                                <input class="prepend-fx form-control" type="password" id='password' name="password"
                                    placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon2" required>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-login" id="basic-addon4"><i
                                            class="fa fa-key"></i></span>
                                </div>
                                <input class="prepend-fx form-control" type="password" id='password2' name="password2"
                                    placeholder="Confirmar Senha" aria-label="Confirmar Senha"
                                    aria-describedby="basic-addon4" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" id="submit" class="btn btn-dark form-control mb-4">
                                <span class="font-weight-bold">
                                    REGISTRAR-SE
                                </span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <p class="text-center">
                <small class="text-muted">Já tem uma conta?</small>
                <small><a href="{% url 'users:login' %}">Entrar</a></small>
            </p>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock content %}