/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /*
   * Blog name and description
   */
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }


  /*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
  .icon-login {
    color: #3d3d3d;
    background: -webkit-linear-gradient(#0a0a0a, #3d3d3d);
    -webkit-background-clip: text;
}

/* Profile */
a .material-icons {
  vertical-align: middle;
}

.name h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-page .page-header {
  height: 380px;
  background-position:center;
}


.header-filter:after, .header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0,0,0,.5);
}

.main-raised {
  margin: 60px 30px 30px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
  background: #FFF;
  position: relative;
  z-index: 3;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
  max-width: 200px;
  height: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  color: #3C4858;
  font-weight: 700;
  font-family: "Roboto Slab","Times New Roman",serif;
}

.profile-page .description {
  margin: 1.071rem auto 0;
  max-width: 600px;
  color: #999;
  font-weight: 300;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

.profile-page .profile-tabs {
  margin-top: 4.284rem;
}

.nav-pills, .nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav .nav-item {
  position: relative;
  margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
  border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #9c27b0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.nav-pills .nav-item .nav-link {
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  color: #555;
  transition: all .3s;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
  background-color: rgba(200,200,200,.2);
}


.nav-pills .nav-item i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
}

.tab-space {
  padding: 20px 0 50px;
}

.profile-page .gallery {
  margin-top: 3.213rem;
  padding-bottom: 50px;
}

.profile-page .gallery img {
  width: 100%;
  margin-bottom: 2.142rem;
}

.profile-page .profile .name{
  margin-top: -80px;
}

img.rounded {
  border-radius: 6px!important;
}

.tab-content>.active {
  display: block;
}



/* edit prof */

.form__container {
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  border: 1px solid #DADDE8;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 100px;
}

.personal--form {
  color: #A4A9C5;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 55px;
  margin-top: 10px;
}
.personal--form .last {
  margin-left: 40px;
}

.personal--form .gender {
  margin-right: 40px;
}

.personal--form .first, .personal--form .last, .personal--form .email, .personal--form .gender, .personal--form .date{
  display: inline-block;
}
.personal--form .first label, .personal--form .last label, .personal--form .email label,  .personal--form .gender label,
 .personal--form .date label{
  margin-bottom: 10px;
}
.personal--form .first label, .personal--form .first input, .personal--form .last label, .personal--form .last input, 
.shipping--form .email label, .shipping--form .email input ,  .personal--form .gender label,  .personal--form .gender select
.personal--form .date label, .personal--form .date input {
  display: block;
  min-width: 250px;
}

.shipping--form .email input {
  width: 540px;
}

.shipping--form .username input {
  width: 540px;
}

.personal--form .gender select {
  width: 250px;
}

.shipping--form {
  color: #A4A9C5;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 55px;
  margin-top: 10px;
}

.row.two, .row.three {
  margin-top: 20px;
}
.personal--form .address-two, .personal--form .state, .personal--form .country, .shipping--form .password-2 {
  margin-left: 40px;
}
.personal--form .address, .personal--form .address-two, .personal--form .city, .personal--form .state, 
.personal--form .zip, .personal--form .country, .shipping--form .username, .shipping--form .password-2, .shipping--form .password {
  display: inline-block;
}
.personal--form .address label, .personal--form .address-two label, .personal--form .city label, .personal--form .state label, 
.personal--form .zip label, .personal--form .country label, .shipping--form .username label, .shipping--form .password label, 
.shipping--form .password-2 label {
  margin-bottom: 10px;
}
.personal--form .address label, .personal--form .address input, .personal--form .address-two label, .personal--form .address-two input, 
.personal--form .city label, .personal--form .city input, .personal--form .state label, .personal--form .state input, .personal--form .zip label, 
.personal--form .zip input, .personal--form .country label, .personal--form .country input, .shipping--form .password-2 input, .shipping--form .password-2 label,
.shipping--form .password input, .shipping--form .password label, .shipping--form .username label, .shipping--form .username input {
  display: block;
  min-width: 250px;
}

.form__question {
  padding: 10px 55px;
  color: #646E8A;
}
.form__question p {
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
  vertical-align: middle;
}
.form__question input[type=checkbox] {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #646E8A;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.form__question input[type=checkbox]:checked {
  background-color: #18C2C0;
}

input, select {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  border: 1px solid #A4A9C5;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: #18C2C0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #18C2C0;
}
input:focus, select:focus {
  border-color: #18C2C0;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  font-weight: 500;
  color: #646E8A;
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  font-weight: 500;
  color: #646E8A;
}
input::-ms-input-placeholder, select::-ms-input-placeholder {
  font-weight: 500;
  color: #646E8A;
}
input::placeholder, select::placeholder {
  font-weight: 500;
  color: #646E8A;
}

.form__confirmation {
  padding: 10px 55px;
}

.edit-profile-btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #18C2C0;
  border: 1px solid #DADDE8;
  color: #fff;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  left: 80%;
}
.edit-profile-btn:hover {
  background-color: #15aeac;
}
.edit-profile-btn:active {
  background-color: #139b99;
}

.box {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  height: 40px;
  width: 40px;
  line-height: 35px;
  border-radius: 50px;
  border: 2px solid #646E8A;
  text-align: center;
  color: #646E8A;
}
.box.billing {
  line-height: 30px;
}

section {
  margin-top: 50px;
}
section:nth-child(1) {
  margin-top: 0px;
}

.sections span {
  color: #646E8A;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 15px;
}


.avatar-upload {
  position: absolute;
  left: 70%;
  top: 12%;
  max-width: 205px;
  display: inline-block;

}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
