{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/tag.css' %}">
{% endblock %}

{% block content %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'forum:index' %}">Início</a></li>
				<li class="active">Perguntar</li>
			</ol>
		</div>
</div>
<!-- //breadcrumbs -->

	<!-- contact -->
	<div class="container">
		<!-- mail -->
	<div class="banner-bottom">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Nova Pergunta</h3>
				<p class="agileinfo_para">Ajudaremos você a encontrar sua resposta.</p>
			</div>
			<div class="w3ls_portfolio_grids w3_agile_mail_grids">
				<form action="{% url 'posts:create_post' %}" method="post">
                    {% csrf_token %}
					<div class="col-md-6 w3_agile_mail_grid center-login">
						<span class="input input--ichiro">
							<!-- <input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="" /> -->
                            <label for="id_title">
								Título
							</label>
                            <input type="text" id="id_title" class="form-control " name="title" id="title" placeholder="Título"
                            aria-label="Title" aria-describedby="basic-addon1" required>
						</span>
						<span class="input input--ichiro">
							 <div id="tag-wrapper">
                                    <ul class="tags-input">
                                        <li class="tags-new">
                                            <input type="text" id="id_tags" class="form-control" name="tags-tf"
                                                placeholder="Insira Tags" aria-label="Tags"
                                                aria-describedby="basic-addon1">
                                            <input type="hidden" name="tags" id="tags">
                                            <small id="emailHelp" class="form-text text-muted ">Use , para adicionar uma
                                                tag.</small>
                                        </li>
                                    </ul>
                                </div>
                            
                        </span>
                        <span class="input input--ichiro">
                                <textarea class="form-control" id="id_description" rows="15" name="description" id="description"
                                placeholder="Descrição da pergunta" required></textarea>
                           </span>
						<input type="submit" value="Enviar Pergunta">
					</div>
					<div class="clearfix"> </div>
                </form>
                
			</div>
		
	</div>
</div>

{% block js %}
<script src="{% static 'posts/js/tag.js' %}"></script>
{% endblock %}

{% endblock %}