{% extends "forum/base.html" %}
{% load static %}
<!-- Carrega arquivos estáticos (css, imagens, js) -->

{% block css %}
{% endblock %}

{% block content %}

<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Início</a></li>
				<li class="active">Pergunta</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
	<div class="container">
		<div class="banner-btm-agile">
		<!-- //btm-wthree-left -->
			<div class="col-md-9 btm-wthree-left">
				<div class="single-left">
				<div class="single-left1">
					<h3>{{question.title}}</h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">{{question.user}}</a></li>
						<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><a href="#">{{question.last_modification_date|date:"d/m/Y H:i"}}</a></li>
						<div class="vote pull-right">
							<div class="increment up">
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<span class="count">0</span>
							</div>
							<div class="increment down">
								<span class="glyphicon glyphicon-thumbs-down"></span>
								  <span class="count">0</p>
							</div>
						</div>
					</ul>
					<p>{{question.description}}</p>
					
                    {% if question.user == loged_user %}
						<div class="post-footer pull-right">
						<i class="fa fa-edit"></i>
                            <a href="{% url 'posts:edit_post' question.id %}" class="text-muted"> Editar</a>
                        
                        <i class="fa fa-trash"></i>
                            <a href="{% url 'posts:delete_post' question.id %}" class="text-muted"> Excluir</a>
						</div>    
						<div class="clearfix"> </div>
                    {% endif %}
                     <!-- <small><i class="fa fa-reply ml-3"></i>
                                <a href="#ans" class="text-muted"> Responder</a>
                     </small>     -->                           
				</div>
                
                <hr>
				<div class="comments">
					<h3>Respostas</h3>
					<div class="comments-grids">

                        {% for answer in answers %}
						<div class="comments-grid">
							<div class="comments-grid-left">
								<img src="https://image.flaticon.com/icons/svg/61/61205.svg" alt=" " class="img-responsive" />
							</div>
							<div class="comments-grid-right">
								<h4><a href="{% url 'users:view_profile' answer.user.username %}">{{answer.user.username}}</a></h4>
								<ul>
									<li>{{answer.last_modification_date|date:"d/m/Y H:i"}} <i>|</i></li>
									<li><a href="#">{{answer.user.first_name}} {{answer.user.last_name}}</a></li>
									<div class="vote">
										<div class="increment up">
											<span class="glyphicon glyphicon-thumbs-up"></span>
											<span class="count">0</span>
										</div>
										<div class="increment down">
											<span class="glyphicon glyphicon-thumbs-down"></span>
											  <span class="count">0</p>
										</div>
									</div>
								</ul>
								<p>{{answer.description}}</p>
								
                                {% if answer.user == loged_user %}
                                <div class="post__footer-responses text-right mr-3">
                                    <small><i class="fa fa-edit"></i>
                                        <a href="{% url 'posts:edit_answer' answer.id %}" class="text-muted"> Editar</a>
                                    </small>
                                    <small><i class="fa fa-trash ml-3"></i>
                                        <a href="{% url 'posts:delete_answer' answer.id %}" class="text-muted"> Excluir</a>
                                    </small>                                                     
                                {% endif %}
                            </div>
							<div class="clearfix"> </div>
						</div>
                    </div>
                    {% endfor %}
                    
				</div>
				<div class="leave-coment-form">
                    {% if user.is_authenticated %}
					<form action="{% url 'posts:post' question.id %}" method="post">
                        {% csrf_token %}
						<textarea name="Message" placeholder="Digite sua resposta" required=""></textarea>
						<div class="w3_single_submit">
							<input type="submit" value="Enviar Resposta" >
						</div>
                    </form>
                    {% else %}
                    <p class="user-message">
                        <small id="emailHelp" class="form-text text-muted ">
                            Você precisa estar logado para responder a esta pergunta.<br>
                            Faça <a href="{% url 'users:login' %}">login</a> ou <a href="{% url 'users:register' %}">registre-se</a> agora mesmo!
                        </small>
                    </p>
                    {% endif %}
				</div>
			</div>

			</div>
		</div>
			<!-- //btm-wthree-left -->
				<!-- btm-wthree-right -->
			<div class="col-md-3 w3agile_blog_left">
				
			<div class="w3l_tags">
					<h3>Tags</h3>
					<ul class="tag">
                        {% for tag in tags %}
                            <li><a href="{% url 'posts:tag' tag.id %}">{{ tag.name }}</a></li>
                        {% endfor %}
					</ul>
				</div>
			</div>
			<!-- //btm-wthree-right -->
			<div class="clearfix"></div>
		
	</div>
	</div>

{% block js %}
{% endblock %}

{% endblock %}